:root {
  /* Colors */
  --White: hsl(0, 0%, 100%);

  --Stone-100: hsl(30, 54%, 90%);
  --Stone-150: hsl(30, 18%, 87%);
  --Stone-600: hsl(30, 10%, 34%);
  --Stone-900: hsl(24, 5%, 18%);

  --Brown-800: hsl(14, 45%, 36%);

  --Rose-800: hsl(332, 51%, 32%);
  --Rose-50: hsl(330, 100%, 98%);

  /* Fonts */
  --Font-size-paragraph: 16px;

  /* @font-face { */
  /* font-family: "Young-Serif";
    font-weight: 400;
    src: url("D:/New folder/recipe-page-main/assets/fonts/young-serif/YoungSerif-Regular.ttf"); */

  /* font-family: "Outfit-400"; */
  /* font-weight: 400; */
  /* src: url("D:/New folder/recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf"); */

  /* font-family: "Outfit-600"; */
  /* font-weight: 600; */
  /* src: url("D:/New folder/recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf"); */

  /* font-family: "Outfit-700"; */
  /* font-weight: 700; */
  /* src: url("D:/New folder/recipe-page-main/assets/fonts/outfit/Outfit-VariableFont_wght.ttf"); */
  /* } */

  /* Misc */
  --div-radius: 0.5em;
  --mobile: 375px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: var(--Stone-100);
}
.mobileHeader {
  display: none;
}
div {
  border-radius: var(--div-radius);
}

.Container {
  background-color: var(--White);
  margin: auto;
  min-width: 400px;
  width: 40%;
  padding: 2.5rem;
}
/* @media only screen and (max-width: 375px) {
  .Container {
    width: 100%;
    border-radius: 0px;
    padding: 0em;
  }
} */

.Container img {
  border-radius: var(--div-radius);
  /* object-fit: cover; */
  width: 100%;
  height: auto;
}

.Summary {
  background-color: var(--Rose-50);
  padding: 0.5em;
  border-radius: var(--div-radius);
}
.Summary h2 {
  color: var(--Rose-800);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  margin: auto;
  padding-top: 1em;
  padding-left: 1em;
}
.Summary ul {
  list-style: disc;
}
.Summary li {
  color: var(--Stone-600);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
}
.Summary li::marker {
  color: var(--Rose-800);
}

h1 {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
  color: var(--Stone-900);
  /* font-size: var(--Font-size-paragraph); */
}
h2 {
  color: var(--Brown-800);
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-style: normal;
}
ul {
  list-style-type: square;
}
.inline {
  padding-left: 1em;
}
li {
  color: var(--Stone-600);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: var(--Font-size-paragraph);
  padding-left: 1em;
  padding-bottom: 1em;
}
li::marker {
  color: var(--Brown-800);
  font-family: "Outfit", sans-serif;
  font-weight: 700;
}

p {
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: var(--Font-size-paragraph);
  color: var(--Stone-600);
}
hr {
  border-top: 1px solid var(--Stone-150);
  /* color: var(--Stone-150); */
}
.Container table {
  width: 100%;
  border-collapse: collapse;
}
.Container tr {
  border-bottom: 1px solid var(--Stone-150);
}
td {
  text-align: left;
  padding-left: 1em;
  padding-bottom: 0.5em;
  padding-top: 0.5em;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  font-size: var(--Font-size-paragraph);
}
.value {
  color: var(--Brown-800);
  font-weight: 700;
}
em {
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-style: normal;
}
